/* declaring  global variables  */
/* :root{
    /* colors */
    --color-text:#0c0101;
    --color-primary:#ebef1d;
    --color-secondary:#d8c813;
    --color-dark:#0b2447;
    --color-bg:#f0e77e;

    /* fonts */
    --font-robot:"Roboto";
} */
